<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.magiclinkdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MagicLinkDemo"
        >
        <activity
            android:name=".MainActivity2"
            android:exported="true"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:path="/xSLzBBuLJunOQPB89rtzM54FXx4="
                    android:host="com.android.tlapplicationtest"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="B2CActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>